#
# ansible.cfg file for maxlab homelab
#

[defaults]

# Access remotes as this user
remote_user = ansible

# SSH Private key for the above user
# Presumes ansible operator is `maxwell` and has this SSH key
private_key_file = ~/.ssh/maxwell_lab

# Timeout value
timeout = 300

# Show output in yaml format
callback_result_format=yaml
result_format=yaml

# Search path for ansible roles
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:roles

# Default inventory file
inventory=./inventory/homelab/homelab.yml

# Optional to make SSH faster
[ssh_connection]
pipelining = true

# SSH Optimization
ssh_common_args = -o ControlPersist=60s -o ControlMaster=auto 
